header{
	background: #F9F6F5

}

.caixa {
	position: relative;
	width:940px;
	margin: 0 auto;
}

nav {
	position:absolute;
	top: 200px;
	right:0;

}

nav li {
	display:inline;
	margin: 0 0 0 15px;

}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	padding-left: 10px;
}

body {
	background: #CCCCCC
	width:940px;
}

.carretel {
	padding-left: 20%;
	width: 60%;

}

.principal{
	font-size:20px ;
	background: #363636;
	padding: 30px 30% 30px;
	text-align: center;
	color: white;
}

.titulocentralizado {
	padding-bottom: 30px;
	font-size: 50px;
	text-align: center;
	color: white;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #CCCCCC;
	padding: 20px;
	font-size: 22px;
}

.titulo3 {
	font-size: 50px;
	text-align: center;
	margin: 10px 0 30px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-top: 70px
}

.itens{
	margin: 10px 0 20px;
}

.textinho{
	display: inline-block;
	margin: 0px 0 10px;
	color: white;
}

.imagembeneficios {
	width: 70%;
}

.link-calculadora{
	padding-top: 20px;
	background: grey;
}

.gif {
	margin: 20px 25% 20px ;
	width:120%;
}

button{
	margin: 20px 26% 60px;
	padding: 50px 0 50px;
	border: 2px solid #04324c;
	border-radius: 20px;
	cursor: pointer;
	background-image: url(rainbowbackground.gif);
	background-size: 100%;
	width: 50%;
  display: inline-block;
}

button:active{
	width: 55%
	padding: 60px;
	border: 4px solid #000000;
}

.button-text a{
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	font-size: 50px;
	font-weight: bolder;
}

footer {
  background: #F9F6F5;
}

.caixa-baixo {
	position: relative;
	width: 50%;
	margin: 0 auto;
}

.logocinza{
	padding: 0 30% 0;
	position: relative;
}

.copyright{
	display: inline-block;
	position: relative;
	padding: 0 245px 0;
}
